.contactbgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 400px;
  position: relative;
  padding: 10% 0 10% 0;
  filter: brightness(0.4);
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url("https://abacuscambridge.com/hubfs/Untitled%20design%20%285%29.jpg");
}

.totalContactUsContainer {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contactHeading {
  position: absolute;
  width: 100%;
  top: 25%;

  color: #ffffff;
  font-weight: 900;
}
